{% extends 'weather/base.html'%}

{% block title %}Подробная инфорация{% endblock %}
{% block content%}
<div class="col-4 offset-1">
    <h1>Информация</h1>
    {% for info in all_info %}
    <div class="alert alert-info">
        <div class="row">
            <div class="col-9">
                <b>Город:</b>{{ info.city }}<br>
                <b>Тепература:</b>{{ info.temp }}<sup>0</sup><br>
                <b>Ветер, м/с:</b>{{ info.speed}}<br>
            </div>
            <div class="col-2 offset-1">
                <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thunbnail">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}